{% extends "base.html" %}
{% block content%}
    <h2>Login</h2>
    {% if error %}
        <p class=error><strong>Error:</strong>{{ error }}
    {% endif %}
    {% if not session.logged_in %}
        <form action="{{ url_for('login.sign_in') }}" method=post>
            <dl>
                <dt>Username:
                    <dd><input type=text name=username>
                <dt>Password:
                    <dd><input type=text name=password>
                <dd><input type=submit value=Login>
            </dl>
        </form>
    {% else %}
        Error!You have been logged in!
    {% endif %}
{% endblock %}
    
